<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet"  href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/message.css" />
  </head>
  <body>
    <div id="username" style="display: none;"><%= locals.user.username %></div>
    <div id="onlinelist"></div>
    <input type="searchtext" name="search" id="search" placeholder="Search..">


    <!-- Modal -->
    <div class="modal fade" id="result-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="result-title"></h4>
          </div>
          <div class="modal-body" id="result-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Time</th>
                  <th>Sender</th>
                  <th>Message</th>
                </tr>
              </thead>
              <tbody id="result-insert">

              </tbody>
            </table>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Message box -->
    <ul id="messages"></ul>
    <form id="msg-form" action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>

    <!-- File Transfer -->
    <ul id="files"></ul>
    <form id="file-form" action="/file" method="post" enctype="multipart/form-data">
        <input type="file" name="fileToUpload" id="fileToUpload"><button>Send File</button>
    </form>

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/jquery.form.min.js"></script>
    <script type="text/javascript" src="/message.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
