<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet"  href="/stylesheets/style.css" />
  </head>
  <body>

    <% if (locals.error) { %>
      <h4 class="error-msg"><%= locals.error %></h4>
    <% } %>

    <h3>Board: <%= locals.room.name %>!!</h3>


    <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
