body { 
  font: 14px Helvetica, Arial; 
}

#m {
  height: 35px;
}

.bg{
  background-color: black;
}
/*for words shown in black backgroud*/
.word{
  color: white;
  font-family: 'Play', sans-serif;
}
/*for button*/
#word{
  font-family: 'Play', sans-serif;
}
#msg-form {

  background: black;
  padding: 3px;
  position: fixed;
  bottom: 2%;
  width:100%;
  right: 0;
}

#msg-form input { 
  width: 90%;
  /*border: 0; 
  padding: 10px; 
  */ 
  margin-right: .5%; 
  margin-left: 0.5%; 
  margin-top: 0.5%;
}

#msg-form  button { 
  /*width: 9%; 
  background: red; 
  border: none; 
  padding: 10px; */
}
#choose-file{
  /*font: 24px;*/
  /*font-family: 'Play', sans-serif;*/
  color:white;
}
#send-file{
  margin-left: 18%;
  margin-bottom: 0.5%;
}
#file-form {
  background: black;
  padding: 3px;
  position: fixed;
  bottom: 8%;
  width:100%;
  right: 0;
}

#file-form input { 
  /*border: 0; 
  padding: 10px; 
  width:90%;*/
  margin:.5%; 
  
}

#file-form  button {
  margin-left: 0.5%; 
  /*width: 9%; 
  background: rgb(130, 224, 255); 
  border: none; 
  padding: 10px; */
}


#messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}

#messages li {
  /*background: rgb(224,224,224); */
  background: white; 
  padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
  background: #afbdd4; 
}

.input[type=searchtext] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=searchtext]:focus {
  width: 100%;

}
