}

body { 
  font: 13px Helvetica, Arial; 
}

#msg-form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 10%;
  width:100%;
  right: 0;
}

#msg-form input { 
  border: 0; 
  padding: 10px; 
  width: 90%; 
  margin-right: .5%; 
}

#msg-form  button { 
  width: 9%; 
  background: rgb(130, 224, 255); 
  border: none; 
  padding: 10px; 
}

#file-form {
  background: #FFF;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width:100%;
  right: 0;
}

#file-form input { 
  border: 0; 
  padding: 10px; 
  width:90%; 
  margin-right: .5%; 
}

#file-form  button { 
  width: 9%; 
  background: rgb(130, 224, 255); 
  border: none; 
  padding: 10px; 
}


#messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}

#messages li { 
  padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
  background: #eee; 
}

.input[type=searchtext] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=searchtext]:focus {
  width: 100%;

}
